.comments-section {
    position: fixed;
    left: 60px;
    margin-top: 22px;
    background-color: white;
    border: 5px solid #333;
    border-radius: 10px;
    width: 550px;
    height: 743px;
}

.comments-section h2 {
    color: #333;
    font-size: 30px;
}

.comments-section .comment {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    text-align: left;
}

.comments-section .comment h4,
.comments-section .comment p {
    display: inline;
    font-size: 20px;
    margin: 0;
}

.comments-section .comment h4 {
    margin-right: 5px;
}

.comments-section .comment p {
    color: #555;
}

.comments-section form {
    margin-top: 570px;
    display: flex;
    align-items: center;
}

.comments-section label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.comments-section input {
    flex: 1;
    padding: 8px;
    font-size: 20px;
    box-sizing: border-box;
    margin-right: 10px;
    border: 2px solid black;
}

.comments-section button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    height: 40px;
    border: none;
    cursor: pointer;
}

.comments-section button:hover {
    background-color: #45a049;
}
